.welcome{
    background-image: url(./images/h_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
}
#logo{
    margin-top: 300px;
    padding-left: 865px;
   
}
#welcome{
    text-align: center;
    font-size: 50px;
    color: aliceblue;
}
#amazing{
    text-align: center;
    color: aliceblue;
    padding-top: -70px;
}
.about-us h2{
    text-align: center;
}
.about-us{
   margin-top: 50px;
}

#agile{
   text-align: center;
}
.services{
    background-image: url(./images/s_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    margin-top: 70px;
  
}
.text{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 130px;
  
}
.text1{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}
.what-we-do{
    margin-top: 70px;
}

.what-we-do h2{
    text-align: center;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    text-align: center;
}
.part1{
    display: flex;
    justify-content: space-around;
}
.part2{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}
.contact-us{
    background-image: url(./images/c_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    margin-top: 70px;
    
}

.contact-us h2{
    color: aliceblue;
    text-align: center;
    margin-top: 40px;
}

@media(min-width:768px){
 .news-input{
        width: 50%
        
        
        
    }
   
}
.name{
    padding-right: 100px;
    align-items: center;
    
    /* background: rgba(255,255,255,0.5); */
}

.news-input{
    display: flex;
    justify-content: space-around;
    margin-left: 400px;
    /* background: rgba(255,255,255,0.5); */
}

.transparent-input {
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
    
}



  ::-webkit-input-placeholder { 
    color:white;
  }

  .message{
      margin: 40px;
      border: white;
  }

  .description{
    
        display : none;
        text-align: center;
        width : 310px;
        padding : 15px;
        color: black;
        margin: 0 auto;
       
        
        
  }
  .dev{
    
    display : none;
    text-align: center;
    width : 310px;
    padding : 15px;
   color: black;
   margin: 0 auto;
   }

.project{
    
    display : none;
    text-align: center;
    width : 310px;
    padding : 15px;
    color: black;
    margin: 0 auto;
 }

 .socials ul {
     list-style: none;
     display: flex;
     justify-content: center;
 }

.media-icon{
    margin: 10px;
   
}